@import "typefaces"
@import "spectre/spectre"
@import "spectre/spectre-icons"
@import "docs"

/* workaround for refresh issues in webkit-based browsers */
@-webkit-keyframes androidBugfix
  from
    padding: 0
  to
    padding: 0

body
  -webkit-animation: androidBugfix infinite 1s
/* end workaround */

#sidebar
  background-image: url('../img/lghtmesh.png')
  background-repeat: repeat
  .s-brand
    h1, h2
      font-size: 25px

canvas.pattern
  max-width: 100%

.flag-links
  margin: 2em 0px
  img
    margin: 0px 20px 0px 0px
    width: 22px

.s-content
  max-width: 100%

#page
  p > a.image-link
    img
      padding: 6px
    &:hover
      img
        padding: 5px
        border: 1px solid #c4c4c4
      &::after
        background-color: rgba(255, 255, 255, 0.8)
    &::after
      color: #5764c6
      display: inline-block
      position: relative
      top: -16px
      left: -43px
      font-size: 30px
      padding: 3px
      border: 1px solid rgba(87, 100, 198, 0.9)
      border-radius: 20px
      background-color: rgba(255, 255, 255, 0.5)
      /* right arrow */
      content: "\2192"

